.App .SheCodeLogo {
  margin: 20px 0 0 20px;
}

.App {
  margin: 0 auto;
  max-width: 800px;
}

section {
  background-color: #53dae7;
  margin-top: 32px;
  margin-bottom: 50px;
  padding: 30px;
}

@media (max-width: 430px) {
  .App .SheCodeLogo {
    display: none;
  }
}
