.DefinitionDisplay {
  background-color: white;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  border-radius: 10px;
  padding: 25px 0;
}

.DefinitionDisplay h2 {
  text-transform: capitalize;
  font-weight: 600;
  text-align: center;
}

.DefinitionDisplay .Phonetic {
  font-size: 17px;
  margin-bottom: 25px;
  text-align: center;
}

.DefinitionDisplay h3 {
  font-size: 17px;
}

.DefinitionDisplay .SearchInfo {
  margin: 30px;
}

.DefinitionDisplay .SearchInfo p {
  margin: 0 0 0 25px;
  font-size: 19px;
}
