.Synonyms li {
  list-style-type: none;
  display: inline-block;
  font-size: 12px;
}

li:not(:last-child)::after {
  content: ",";
  margin-right: 5px;
}

.Synonyms div {
  margin: 5px 0;
  font-size: 13px;
}
